{% extends "bootstrap/base.html" %}

{% block title %}
List of Students
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top nav-dark bg-dark">
         <div class="container">
              <ul class="nav navbar-nav">
             <li><a href="{{ url_for('dashboard') }}">Back</a></li>
             </ul>
            </div>
         </div>
    </nav>
{% include '_messages.html' %}
            <table class="table table-striped">
                <tr>
              <th>StudentID</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Year</th>
              <th>Course</th>
              <th>Department</th>
              <th>College</th>

          </tr>
                {% for row in studentdetails %}
                <tr>
                    <td>{{row['studentid']}}</td>
                    <td>{{row['firstname']}}</td>
                    <td>{{row['lastname']}}</td>
                    <td>{{row['year']}}</td>
                    <td>{{row['course_code']}}</td>
                    <td>{{row['department_name']}}</td>
                    <td>{{row['college_code']}}</td>

                    <td width = "130">
                        <a href="{{ url_for('edit') }}" class="btn btn-secondary btn-sn">edit</a>
                        <a href="/delete/{{row['studentid']}}" class="btn btn-danger btn-delete btn-sn">delete</a>
                    </td>
                </tr>
                    {% endfor %}
            </table>
{% endblock %}
